@font-face {
  font-family: "NotoSansCJKkr-Regular";
  src: url("./fonts/NotoSansKR/NotoSansKR-Regular.otf");
}
@font-face {
  font-family: "NotoSansCJKkr-Medium";
  src: url("./fonts/NotoSansKR/NotoSansKR-Medium.otf");
}
@font-face {
  font-family: "NotoSansCJKkr-Bold";
  src: url("./fonts/NotoSansKR/NotoSansKR-Bold.otf");
}
@font-face {
  font-family: "NotoSansCJKkr-Light";
  src: url("./fonts/NotoSansKR/NotoSansKR-Light.otf");
}
@font-face {
  font-family: "NotoSansCJKkr-DemiLight";
  src: url("./fonts/NotoSansKR/NotoSansKR-DemiLight.otf");
}

/*  나눔스퀘어 폰트 */
@font-face {
  font-family: "NanumSquareR";
  src: url("./fonts/Nanumsquare/NanumSquare_acR.ttf");
}
@font-face {
  font-family: "NanumSquareEB";
  src: url("./fonts/Nanumsquare/NanumSquare_acEB.ttf");
}
@font-face {
  font-family: "NanumSquareB";
  src: url("./fonts/Nanumsquare/NanumSquare_acB.ttf");
}
@font-face {
  font-family: "NanumSquareL";
  src: url("./fonts/Nanumsquare/NanumSquare_acL.ttf");
}

/*  DS-digital 폰트 */
@font-face {
  font-family: "DS-Digital";
  src: url("./fonts/DS-digital/DS-DIGI.TTF");
}

/* RobotoMono 폰트(비콘) */
@font-face {
  font-family: "RobotoMono-Medium";
  src: url("./fonts/RobotoMono-Medium.ttf");
}
